<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="push">
    <drawer></drawer>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-mini-fab class="nav-icon" (click)="goBack()">
        <mat-icon>{{ icon }}</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>code</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
