<div class="main-content animate__animated animate__fadeIn">
  <div class="container-fluid">
    <div *ngIf="showLoader === true; then loader; else list"></div>
    <ng-template #loader>
      <div class="row">
        <div class="col-12" align="center">
          <h4>
            <mat-spinner
              mode="indeterminate"
              color="primary"
              [diameter]="30"
            ></mat-spinner>
            Fetching Products ...
          </h4>
        </div>
      </div>
    </ng-template>
    <ng-template #list>
      <ng-container
        *ngIf="
          (products$ | async)!
            | filterDeletedProducts: false
            | filterByCategory: categoryFilterControl.value
            | searchProducts: searchText as products
        "
      >
        <div class="row">
          <div class="col-12 col-lg-9">
            <search
              label="Search Products"
              placeholder="Enter search term"
              (searchChange)="searchProducts($event)"
            ></search>
          </div>
          <div class="col-6 col-md-4 col-lg-3">
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Shop By Category</mat-label>
              <mat-select [formControl]="categoryFilterControl">
                <mat-option value="">Show All</mat-option>
                <mat-option
                  *ngFor="
                    let category of (categories$ | async)!
                      | filterDeletedCategories: false
                  "
                  [value]="category?._id"
                  >{{ category.title | titlecase }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="products.length > 0; else noProducts">
          <div class="row animate__animated animate__fadeIn">
            <div
              class="col-6 col-sm-6 col-md-4 col-lg-2"
              *ngFor="let product of products"
            >
              <product-tile [product]="product"></product-tile>
            </div>
          </div>
        </div>
        <ng-template #noProducts>
          <div class="row mt-4">
            <div class="col-12 col-md-8 offset-md-2 text-center">
              <img
                src="../../../../../assets/img/empty_list.svg"
                alt="list-empty"
                class="empty-list-icon"
              />
              <h1>Oops! We're still working on this.</h1>
              <h3>
                Check this space later for a collection of exciting products to
                shop.
              </h3>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <button
        mat-fab
        class="fab text-white"
        color="primary"
        matTooltip="View Cart"
        matTooltipPosition="before"
        [routerLink]="['/cart']"
      >
        <mat-icon>shopping_cart</mat-icon>
        <span
          class="position-absolute top-0 translate-middle badge p-2 bg-primary"
        >
          {{ (cart$ | async)?.productData?.length }}
        </span>
      </button>
    </ng-template>
  </div>
</div>
