@import "./colors.scss";

$brand-primary: $e-comm-store-primary-500 !default;
$brand-info: $cyan-500 !default;
$brand-success: $green-500 !default;
$brand-warning: $orange-500 !default;
$brand-danger: $red-500 !default;
$brand-secondary: $e-comm-store-secondary-500 !default;
$brand-inverse: $black-color !default;
