.wrapper {
  background-image: url("../../../assets/img/auth-bg.svg");
  background-size: cover;
  background-position: top center;
}

.wrapper-full-page {
  height: auto;
  min-height: 100vh;
}

li {
  cursor: pointer;
}
