<div class="main-content">
  <div class="container-fluid login-page">
    <div class="row">
      <div class="col-xs-12 col-sm-4 offset-sm-4">
        <div class="card animate__animated animate__fadeInDown">
          <div class="card-body d-flex flex-column align-items-center">
            <img
              src="../../../../assets/img/dev-snacks-logo-bg.png"
              alt="e-comm-store logo"
              class="avatar logo justify-content-center"
            />
            <h4>E-Comm Store Login</h4>
            <form [formGroup]="loginForm">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Enter email"
                  type="email"
                  formControlName="email"
                />
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="
                    !loginForm.get('email')?.hasError('required') &&
                    loginForm.get('email')?.hasError('email')
                  "
                >
                  Email is <strong>invalid</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="Enter password"
                  [type]="passwordVisible ? 'text' : 'password'"
                  formControlName="password"
                />
                <mat-icon
                  *ngIf="!passwordVisible"
                  matSuffix
                  class="visibility-icon"
                  (click)="passwordVisible = true"
                  >visibility</mat-icon
                >
                <mat-icon
                  *ngIf="passwordVisible"
                  matSuffix
                  class="visibility-icon"
                  (click)="passwordVisible = false"
                  >visibility_off</mat-icon
                >
                <mat-error
                  *ngIf="loginForm.get('password')?.hasError('required')"
                >
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <div class="row">
                <div class="col-12" align="center">
                  <mat-spinner
                    mode="indeterminate"
                    color="primary"
                    [diameter]="30"
                    *ngIf="showLoader"
                  ></mat-spinner>
                  <button
                    type="submit"
                    *ngIf="!showLoader"
                    mat-raised-button
                    color="primary"
                    class="text-white"
                    [disabled]="loginForm.invalid"
                    (click)="login()"
                  >
                    Login
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
