.product-image {
  width: 3rem;
}

@import "../../../../assets/scss/brand.scss";

.card-selected {
  border: 3px solid $brand-secondary;
}

strong {
  font-weight: 700;
}

.illustrations-img {
  width: 10rem;
  margin-right: 2rem;
}
